body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./image/hero-bg.svg');
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center;
  color: white;
  
}
::-webkit-scrollbar{
  background-color: rgb(13, 16, 36);
  width: 6px;
}
::-webkit-scrollbar-thumb{
  background-color: rgb(72, 62, 156);
  border-radius: 10px;
  height: 6px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
