.btn button{
    background-color: #74FAC0;
    padding: 1rem;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    margin-top: 2rem;
    transition: 0.5s ease;
}
.btn button:hover{
    cursor: pointer;
    background-color: #010B20;
    color: white;
    transform: translateY(-7px);
    transition-duration: 0.5s;
}

